* {
  font-family: cursive;
}

body {
  margin: 0;
  background-color: rgb(33, 121, 134);
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: start;
  justify-content: center;
}

.app {
  background: linear-gradient(25deg, #ed8a90, #cd89e2);
  min-width: 300px;
  min-height: 200px;
  max-height: 500px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 5px -5px 5px rgb(248, 140, 233);
  outline: 2px solid white;
  margin-top: 100px;
}
.app h1 {
  color: rgb(150, 43, 43);
  text-align: center;
  padding: 10px 0;
}

.search {
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  position: absolute;
  position: sticky;
}

.search input {
  width: 450px;
  padding: 10px;
  margin-left: 40px;
  border: 2px solid black;
  border-radius: 7px;
  background-color: rgb(172, 229, 237);
  color: black;
  font-size: 22px;
}

.search input::placeholder {
  color: rgb(169, 163, 163);
}
.search button {
  margin-left: 2px;
  border-radius: 7px;
  background-color: rgb(121, 125, 126);
  color: black;
  margin-right: 60px;
  cursor: pointer;
  border: 2px solid black;
  width: 80px;
  font-size: 22px;
}

.search button:hover {
  background-color: brown;
  color: white;
  transition: 0.4s;
}

.dynamic {
  width: 25px;
  height: 25px;
  border: 3px solid #555;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  top: 17%;
  left: 5px;
  transition: all 0.3s ease-in-out;
  border-color: #ff9800;
}
.dynamic:hover {
  border-color: lightseagreen;
}

#list {
  overflow: auto;
  position: relative;
  max-height: 250px;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

ul li {
  background-color: rgb(155, 186, 202);
  padding: 5px 5px 5px 25px;
  border-radius: 5px;
  outline: 2px solid black;
  outline-offset: 1px;
  color: black;
  cursor: pointer;
  position: relative;
  list-style-type: none;
  text-transform: capitalize;
  font-size: 15px;
  width: 520px;
  text-align: left;
  height: 30px;
  margin-left: 2px;
}

span {
  font-size: 16px;
  font-weight: bold;
  flex-grow: 1;
  position: absolute;
  left: 50px;
  top: 7px;
  display: inline-block;
  max-width: 460px;
  scroll-behavior: smooth;
  overflow: auto;
  scrollbar-width: none;
}

.button {
  background-color: rgb(155, 186, 202);
  color: white;
  border: transparent;
  padding: 5px;
  cursor: pointer;
  border-radius: 5px;
  position: absolute;
  right: 0;
  top: 3px;
  font-size: 18px;
}

.button:hover {
  transition: 0.2s;
  background-color: red;
  border-radius: 50%;
}

.completed {
  text-decoration: line-through;
  color: grey;
}

.check-btn {
  background-color: brown;
}
